<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>controller.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CrudServlet</servlet-name>
        <servlet-class>controller.CrudServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminFilterServlet</servlet-name>
        <servlet-class>controller.AdminFilterServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminSearchProductServlet</servlet-name>
        <servlet-class>controller.AdminSearchProductServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminCRUDServlet</servlet-name>
        <servlet-class>controller.AdminCRUDServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminDeleteServlet</servlet-name>
        <servlet-class>controller.AdminDeleteServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminOrder</servlet-name>
        <servlet-class>controller.AdminOrder</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminOrderDetails</servlet-name>
        <servlet-class>controller.AdminOrderDetails</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminAddServlet</servlet-name>
        <servlet-class>controller.AdminAddServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminUpdateOrder</servlet-name>
        <servlet-class>controller.AdminUpdateOrder</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProductServletPagging</servlet-name>
        <servlet-class>controller.ProductServletPagging</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CrudServlet</servlet-name>
        <url-pattern>/CrudServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminFilterServlet</servlet-name>
        <url-pattern>/AdminFilterServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminSearchProductServlet</servlet-name>
        <url-pattern>/AdminSearchProductServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminCRUDServlet</servlet-name>
        <url-pattern>/AdminCRUDServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminDeleteServlet</servlet-name>
        <url-pattern>/AdminDeleteServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminOrder</servlet-name>
        <url-pattern>/AdminOrder</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminOrderDetails</servlet-name>
        <url-pattern>/AdminOrderDetails</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminAddServlet</servlet-name>
        <url-pattern>/AdminAddServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminUpdateOrder</servlet-name>
        <url-pattern>/AdminUpdateOrder</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProductServletPagging</servlet-name>
        <url-pattern>/ProductServletPagging</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
